#TTABLE {
  display:flex;
  flex-direction:row;
}

#TTABLE_CONTAINER.multi {
  transition: opacity 1s linear 1s;
}

#TTABLE .column {
  margin-right:5px;
  position:relative;
  height:calc(100% - 30px);

}

#TTABLE .column.today {
  margin-right:5px;
  position:relative;
  background-color:rgba(255,255,0, 0.1)
}

#TTABLE .show {
  display:block;
}

#TTABLE .hide {
  display:none;
}

#TTABLE .header {
  height:30px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  border-bottom: 2px solid #FFF;
  text-align: center;
  line-height: 100%;
  margin-bottom:5px;
}

#TTABLE #TTABLE_TIME_HEADER.header {
  width:60px;

}

#TTABLE #TTABLE_TIMELINE {
  width:60px;
  border-right:1px solid #FFF;
  height:100%;
  position:relative;
  /* border-right: 1px solid #FFF;*/

}

#TTABLE_TIMELINE .now {
  border-top:2px outset #FF0;
  width:100%;
  margin-top:0;
  position:absolute;
}

#TTABLE_TIMELINE .time:last-child {
  margin-top:-20px;
  border-top:none;
  border-bottom:1px dotted #999;
}
#TTABLE_TIMELINE .time {
  padding-right:5px;
  width:50px;
  position:absolute;
  top:0;
  font-size: 20px;
  font-weight: bold;
  line-height:100%;
  border-top:1px dotted #999;
}

#TTABLE .column .item {
  position:absolute;
  top:0;
  font-size: 20px;
  font-weight: bold;
  border:1px solid #FFF;
  background-color:rgba(255,255,255,0.3);
  border-radius:4px;
  box-sizing:border-box;
  text-align:left;
  padding:3px;
  overflow:hidden;
}

#TTABLE .item p {
  margin:0;
  padding:0;
  line-height:100%;
}

#TTABLE .item .title {
  color:#FFF;
  font-weight:bold;
  line-height:100%;
  padding-bottom:10px;
}


#TTABLE .item .subtitle,
#TTABLE .item .period {
  color:#CCC;
  line-height:100%;
  font-size:80%;
}

#TTABLE .column .item.isnow {
  border:3px solid #FF0;
}
